#chess_board_holder{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 637px;
  height: 625px;
  background-image: url('empty.gif');
}
#board{
  position: absolute;
  left: 35px;
  top: 7px;
  width: 578px;
  height: 578px;
}
.square{
  float:left;
  min-width:12.5%;
  min-height:12.5%;
}
.row{
  min-height:12.5%;
  width: 100%;
}
